.App {
  text-align: center;
}
h1 span {
  font-weight: normal;
}
section {
  margin: 3em auto;
  max-width: 400px;
}
article {
  display: flex;
  align-items: center;
  justify-content: center;
}
article > h1 {
  margin-right: auto;
}

article.complete h1 {
  text-decoration: line-through;
}
article.complete button {
  background: rgba(255, 0, 0, 0.5);
  border: 0.2em solid red;
}
article.incomplete button {
  background: rgba(0, 255, 0, 0.5);
  border: 0.2em solid green;
}
