<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<title>Page Title</title>
		<meta name="viewport" content="width=device-width, initial-scale=1" />
	</head>
	<body>
		<% for(let i = 0; i < randomNuber; i++) { %>
		<h1>User <%= userId %>!</h1>
		<% } %>

		<script>
			document.addEventListener("click", () => alert("YO YO YO"));
		</script>
	</body>
</html>

SERVER SIDE DATA -> EJS --> SEND IT (HTML)
